# FFmpeg 第三方库（体积大，不上传）
ffmpeg-8.0.1-full_build-shared/

# Qt 构建产物
*.pro.user
*.o
*.obj
*.moc
*.ui/
moc_*.cpp
qrc_*.cpp
Makefile
*.Debug
*.Release
debug/
release/
build/

# IDE
.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.*
